@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Credits</h1>

<h3>Burns, Jason</h3>
<h3>Linseisen, Markus</h3>
<h3>Mclennan, Justin</h3>
<h3>Tang, Chun-Yip</h3>