@model _4952.Models.MyViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="col1">
    <h2>LOGO</h2>
    <br /><br />

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.LabelFor(x => x.File)
            @Html.TextBoxFor(x => x.File, new { type = "file" })
            @Html.ValidationMessageFor(x => x.File)
        </div>
        <br /><br />
        <button type="submit">Upload</button>
    }
    <br /><br />
    <button> Search </button>
    <br /><br /><br />
    <div class="fileinfo">
        file info 1 <br />
    </div>


</div>

<div class="col2">
    <div class="headerbar">
        <button>button1</button>
        <button>button2</button>
        <button>button3</button>
    </div>
    <div class="fileContainer">
        @foreach (_4952.Models.File f in Model.Files)
        {
            @Html.Partial("fileBox", f)
        }
    </div>
</div>