@model _4952.Models.FileViewModel
@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/crypto");
<script src="~/Scripts/Submit.js" type="text/javascript"></script>

<div class="sidebar">
    <form class="search">
        <div class="row">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <input type="text" class="form-control" name="SearchString"/>
                <br />
                <input type="submit" class="btn btn-warning" value="Search" />
            }
        </div>
    </form>
    <br />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBoxFor(x => x.filePosted, new { type = "file" })
        @Html.ValidationMessageFor(x => x.filePosted)
        <br />
        <button type="submit" class="btn btn-success btn-lg" onclick="encrypt();">Upload</button>
    }
    <br />
    <div class="logout">
        <button class="btn btn-warning"> Logout </button>
    </div>
</div>

<div class="content">
    @using (Html.BeginForm("FileSelected", "Home", FormMethod.Post))
    {
        <div>
            <input type="submit" class="btn btn-success" name="submitButton" value="Download" />
            <button class="btn btn-warning">Create Folder</button>
            <button class="btn btn-warning">Move To</button>
            <input type="submit" class="btn btn-danger" name="submitButton" value="Delete" />
            <input type="text" class="form-control" id="hashField" placeholder="Encryption string"/>
        </div>
        <br />
        <input type="radio" name="rGroup" id="goat" checked="checked" hidden="hidden" />
        <label class="fileContainer" for="goat">
            @foreach (_4952.Models.FileMetadata f in Model.fileMetadataList)
            {
                @Html.Partial("fileBox", f)
            }
        </label>
    }
</div>