@{
    ViewBag.Title = "Home Page";
}

<div class="col1">
    
    <h2>LOGO</h2>
    <br /><br />

    <button> Upload </button>
    <br /><br />
    <button> Search </button>
    <br /><br /><br />
    <div class="fileinfo">
        file info 1 <br />
    </div>
    

</div>

<div class="headerbar">
    <button>button1</button>
    <button>button2</button>
    <button>button3</button>
</div>

<div class="fileContainer">
    

    
    <div class="filebox">
        <img src="basic"/>
        
        boxcontent
        <br />
        boxcontent



    </div>

</div>
