@{
    ViewBag.Title = "Home Page";
}

<div class="col1">
    <h2>LOGO</h2>
    <br /><br />

    <div class="form-group">
        <input type="button" class="btn btn-default" value="Upload" />
    </div>
    <br /><br />
    <button> Search </button>
    <br /><br /><br />
    <div class="fileinfo">
        file info 1 <br />
    </div>
</div>

<div class="col2">
    <div class="headerbar">
        <button>button1</button>
        <button>button2</button>
        <button>button3</button>
    </div>
    <div class="fileContainer">
        @Html.Partial("fileBox")
    </div>
</div>