@model _4952.Models.MyViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="topbar">
    <div class="topbuttons">
        <button class="btn btn-warning">Create Folder</button>
        <button class="btn btn-warning">Delete</button>
        <button class="btn btn-warning">Move To</button>
    </div>   
</div>

<div class="sidebar">
    <form class="search">
        <div class="row">
            <div class="col-md-7" id="search-bar">
                <input type="text" class="form-control" placeholder="Search" />
            </div>
            <button class="btn btn-warning"> Search </button>
        </div>
    </form>
    <br />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.LabelFor(x => x.File)
            @Html.TextBoxFor(x => x.File, new { type = "file" })
            @Html.ValidationMessageFor(x => x.File)
        </div>
        <br /><br />
        <button type="submit" class="btn btn-danger btn-lg">Upload</button>
    }
    <br /><br />
    <div class="fileinfo">
        file info 1 <br/>
    </div>

    <div class="logout">
        <button class="btn btn-warning"> Logout </button>
    </div>


</div>

<div class="content">
    <div class="fileContainer">
        @foreach (_4952.Models.File f in Model.Files)
        {
            @Html.Partial("fileBox", f)
        }
    </div>
</div>