@model _4952.Models.FileViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="sidebar">
    <form class="search">
        <div class="row">
            <div class="col-md-7" id="search-bar">
                <input type="text" class="form-control" placeholder="Search" />
            </div>
            <button class="btn btn-warning"> Search </button>
        </div>
    </form>
    <br />
    <div>
        @Html.TextBoxFor(x => x.filePosted, new { type = "file" })
        @Html.ValidationMessageFor(x => x.filePosted)
    </div>
    <br /><br />
    <button type="submit" class="btn btn-success btn-lg">Upload</button>
    <br /><br />
    <div class="logout">
        <button class="btn btn-warning"> Logout </button>
    </div>
</div>

<div class="content">
    @using (Html.BeginForm("FileSelected", "Home", FormMethod.Post))
    {
        <div>
            <input type="submit" class="btn btn-success" name="submitButton" value="Download" />
            <button class="btn btn-warning">Create Folder</button>
            <button class="btn btn-warning">Move To</button>
            <input type="submit" class="btn btn-danger" name="submitButton" value="Delete" />
        </div>
        <br />
        <input type="radio" name="rGroup" id="goat" checked="checked" hidden="hidden" />
        <label class="fileContainer" for="goat">
            @foreach (_4952.Models.FileMetadata f in Model.fileMetadataList)
            {
                @Html.Partial("fileBox", f)
            }
        </label>
    }
</div>