@{
    ViewBag.Title = "Manual";
}
<!--This is the Manual used to explain how our website works.-->

<h1>How to Use.</h1>

<h3>To upload a file.</h3>
<br/>
<p>1) Click on "Choose File" button on the sidebar.<br />
   2) Choose a file from the picker.<br />
   3) Click the green "Upload" button on the sidebar.</p>

<h3>To delete a file.</h3>
<br />
<p>1) Click on a file from the box.<br />
   2) Make sure that the file has a green border.<br />
   3) Click on the red "Delete" button on the top bar.</p>

<h3>To Search for a file.</h3>
<br />
<p>1) Click on the "Search" textbox.<br />
   2) Enter the file name you want to search for.<br />
   3) Click on the yellow "Search" button underneath the "Search" textbox.<br />
   The box should refill with files that contain your entered file name.</p>

<h3>To encrypt a file.</h3>
<br />
<p>Whenever a file is uploaded or downloaded, a word or sentence may be input into the 
   the "Encryption String" textbox. When doing so, the file is encrypted or decrypted with the word/sentence.
   The same word or sentence is required to decrypt the file.<br />
   <h4><strong>Please Save your Word or Sentence when encrypting your files.</strong></h4></p>