html{
    max-height: 100%;
    background-color: white;
}

body {
    padding-top: 70px;
    min-height: 100%;
    
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt { 
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.headerbar{
    padding-top:15px;
    padding-bottom:15px;

    align-content:flex-start;
}
.btn{
    border-radius: 0px;
}
.col-md-7 {
    margin-right: 0;
    padding-right: 0;
}
.topbar{
    display:inline-block;
    width:80%;
    height: 10%;
    /*
    border-color:blue;
    border-style: solid;
        */
    margin-top: 1%;
    margin-bottom: 1%;
    float:right;

}
.search {
}
.topbuttons {
    float:left;
}
.sidebar{
    float:left;
    text-align:center;
    width:20%;
    height:90%;
    overflow: hidden; /* can me taken off in a bit*/
}
.sidebar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
.sidebar li {
    width: 100%;
    padding-top: 25%;
}
.content{
    float:left;
    width:80%;
    height:90%;
}

.fileContainer{
    border-style:solid;
    border-color:dimgrey;
    background-color:beige;
    border-width:2px;
    height:75vh;
}
.fileContainer input[type="radio"] {
    display: none; 
}
.fileContainer label {
}
.fileContainer input[type="radio"]:checked + label { 
    border-color: #5cb85c;
}
.filebox{
    text-align:center;
    border-style:solid;
    border-color:black;
    border-width:1px;
    width:inherit;
    margin:5px;
    padding:2px;
    float: left;
}

.logout{
    position:relative;
    bottom:0px;
}

#form {
    align-items:center;
    text-align:center;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
.col-md-10 {
    padding-bottom: 2%;
}
#registerLink {
    color: white;
}

