body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.headerbar{
    padding-top:15px;
    padding-bottom:15px;

    align-content:flex-start;
}
.topbar{
    display:inline-block;
    width:80%;
    height: 10%;
    /*
    border-color:blue;
    border-style: solid;
        */
    margin-top: 1%;
    margin-bottom: 1%;
    float:right;

}
.topbuttons {
    float:left;
}
.sidebar{
    float:left;
    text-align:center;
    width:20%;
    height:90%;
    overflow: hidden; /* can me taken off in a bit*/
}
.sidebar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
.sidebar li {
    width: 100%;
    padding-top: 25%;
}
.content{
    float:left;
    width:80%;
    height:90%;
}

.fileContainer{
    border-style:solid;
    border-color:green;
    border-width:2px;
    height:75vh;
}
.filebox{
    text-align:center;
    border-style:solid;
    border-color:blue;
    border-width:2px;
    width:inherit;
    margin:5px;
    padding:2px;
    float: left;
}
.filebox-active{
    text-align:center;
    border-style: solid;
    border-color:red;
    border-width:5px;
}

.logout{
    position:relative;
    bottom:0px;
}