body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.headerbar{
    padding-top:15px;
    padding-bottom:15px;

    align-content:flex-start;
}

.col1{
    float:left;
    text-align:center;
    width:20%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top:15px;
    clear:both;
}

.col2{
    float:left;
    width:60%;
    height:50%;
}

.fileContainer{
    
    border:solid;
    border-color:green;
    border-width:2px;
    
}

.filebox{
    text-align:center;
    border:thick;
    border-style:solid;
    border-color:blue;
    border-width:5px;
    width:50px;
    clear:inherit;
    float: left;
}
.filebox-active{
    text-align:center;
    border-style: solid;
    border-color:red;
    border-width:5px;
}